ptaxsim-2023.0.0.db
.DS_Store
.radian_profile
ptaxsim_explainer_update*cache/
ptaxsim_explainer_update*files/
.lintr
*.log
*.tex
/.quarto/
data/*

*/__pycache__/*
*cache*

ptaxsim*html

!output/

.env