<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('assets', path='style.css') }}" >
</head>
<body>
    <div id="app">
        <!-- Navigation Bar -->
        <div id="nav">
            <div id="nav-title">
                <span class="sw-title">Property Tax Explainer</span>
            </div>
            <div id="nav-buttons">
                <a class="nav-button" href="/">Home</a>
            </div>
        </div>

        <!-- Content Section -->
        <div class="content-container">
            <h1>Enter 14 digit PIN for your Parcel</h1>
            <hr />
            <div class="input-container">
                <form action="/submit" method="post">
                    <center><input type="text" name="pin" placeholder=""/>
                    <button type="submit">Submit</button></center>
                </form>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer">
            <div id="footer-text">
                <img src="/assets/mansueto_logo.png" alt="Mansueto Institute Logo" class="logo-img" />
            </div>
        </div>
    </div>
</body>
</html>
