{% extends "_base_index.html" %} {% block mode %}
            <div class="col-auto">
              <label for="mode" class="form-label">Explainer Mode:</label>
              <div class="input-group">
                <select
                  name="mode"
                  id="mode"
                  class="form-select w-auto"
                  required
                >
                  <option value="TIF" selected>TIF explainer</option>
                  <option value="PTAX">PTAX explainer</option>
                </select>
              </div>
            </div>
          </div>
{% endblock %}
