{% extends "_base_index.html" %}
{% block mode_rel_year %}
<div class="col-auto">
  <label for="search_category" class="form-label"
    >Compare to bill from:</label
  >
  <div class="input-group">
    <select
      name="search_category"
      id="search_category"
      class="form-select w-auto"
      required
    >
      <option value="last_assessment_year">Last assessment year</option>
      <option value="one_year">1 year ago</option>
      <option value="three_years" selected>3 years ago</option>
      <option value="five_years">5 years ago</option>
    </select>
  </div>
</div>
{% endblock %}
{% block mode %}
<input type="hidden" name="mode" id="mode" value="PTAX" />
{% endblock %}
{% block footer %} {% endblock %}
