{% extends "_base.html" %}

{% block content %}

{% block meta %}
{% endblock %}

<div class="container mt-4">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="text-search" role="tabpanel" aria-labelledby="text-search-tab"
            tabindex="0">
            <div class="container pt-4">
                <h1 class="display-6">{{ message }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="assets/index.js"></script>
{% endblock %}